<div class="container">

    <h1 class="resumeHeader">Portfolio</h1>

    <div class="portfolioDiv row">
        <div *ngFor="let project of projects" class="projectCardDiv col-md-4 col-sm-12 col-12">
            <mat-card class="projectCard">
                <mat-card-header>
                    <mat-card-title>{{project.projectName}}</mat-card-title>
                    <mat-card-subtitle>
                        {{project.subtitle}}
                    </mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                    <mat-chip-list aria-label="Tech selection">
                        <mat-chip style="margin: 1px;" *ngFor="let tech of project.technologies">{{tech}}</mat-chip>
                    </mat-chip-list>

                </mat-card-content>
                <mat-card-actions>
                    <a [href]="project.url" [style.visibility]="project.url !== undefined && project.url !== null && project.url !==''  ?'visible' : 'hidden'" class="btn btn-success " mat-button>
                    Demo
                </a>


                    <button (click)="openDialog(project) " style="float:right !important; " class="btn btn-info " mat-button>Details</button>

                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>