<div class="container">
    <h1>JWT</h1>
    <p>JSON Web Tokens is a pattern to exchange information securely between parties. JWT is split between three parts:</p>

    <ul>
        <li>Header</li>
        <li>Payload</li>
        <li>Signature</li>
    </ul>




    <br><br>

    <h1>Header</h1>
    <p>The header basically have information about the type of the token and the encryption used. On the example below we are setting the type of token to JWT of course, and the encryption algorithm will be HS256.</p>
    <div class="container">
        <div class="form-group">
            <div class="row">
                <label class="label-control">typ</label>
                <div class="col-md-4">
                    <input class="form-control" readonly value="JWT" />
                </div>
            </div>
            <div class="row">
                <label>alg</label>
                <div class="col-md-4">
                    <input class="form-control" readonly value="HS256" />
                </div>
            </div>
        </div>
    </div>

    <br>

    <h1>Payload</h1>
    <p>The Payload is where the information will be stored. Each These informations are called Claims and they are usually important data about the user that is authenticating or any additional information important for your project.<br>

        <br>
        <h2>Registered claims</h2>

        <h3> Registered claims are predefined claims that you can use, here are some examples:</h3>

        <ul class="codeSnippet">
            <li>
                iat : time the token was issued
            </li>
            <li>
                exp : token expiration time
            </li>
            <li>
                nbf : defines the time the token is valid (you can use to define a time in the future that the token starts to be valid)
            </li>
        </ul>

        <div class="container">
            <div class="form-group">

                <div class="row">
                    <label class="control-label">iat</label>
                    <div class="col-md-4">
                        <input class="form-control" readonly value="1589806800" />
                    </div>
                </div>
                <div class="row">
                    <label class="control-label">exp</label>
                    <div class="col-md-4">
                        <input class="form-control" readonly value="1589810399" />
                    </div>

                </div>
                <br>
                <div class="row">
                    <p> On the example above, the token was issued at May,18th 2020 - 13:00:00 and it expires May, 18th, 2020 - 13:59:59. These would be the necessary parameters to define a token valid for one hour. The issuer would get the exp parameter
                        and check if the token is still valid.
                    </p>
                </div>
            </div>

        </div>

        <h1>Signature</h1>
        <p>The Signature is where the JWT magic happens. By using the header, payload and a secret key, we are creating the third part of the JWT. <br><br> The signature is generated by the encryption algorithm chosen, in this example we are using HS256.
            The signature would be created using the following pattern:
        </p>



        <div class="container codeSnippet" style="font-weight: 500">
            HMACSHA256( <br>base64UrlEncode(header) + "." + <br> base64UrlEncode(payload), <br>"Xn2r5u8x/A?D(G+KbPeShVmYq3s6v9y$" )

        </div>
        <br>
        <br>
        <p>The last part of the signature is the 256 bit key. This key will be private and only known by the issuer. This is the 'key' components that makes JWT secure. A signature will be created using all the information (header and payload) and the secret
            key. Since the secret key is included in the signature, the only way to change any information in the header or in the payload is by creating a new signature. If the hackers doesn't know the secret key, it's impossible to create a new and
            valid JWT.
        </p>


        <div class="form-group">
            <div class="row">
                <div class="col-md-3">
                    <h3 class="col-md-12" for="header">Header</h3>
                    <div class="col-md-12">
                        <textarea autosize class="form-control" style="overflow: hidden;" id="header">{
    typ: "JWT",
    alg" "HS256"    
}
                    </textarea>
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="col-md-12" for="header">Payload</label>
                    <div class="col-md-12">
                        <textarea minRows=4 autosize class="form-control" style="overflow: hidden;" id="header"></textarea>
                    </div>
                </div>
                <div class="col-md-5">
                    <label class="col-md-2" for="header">Signature</label>
                    <div class="col-md-8">
                        <input class="form-control" value="50655368566D597133743677397A244226452948404D635166546A576E5A7234" type="text" />

                    </div>

                </div>
            </div>
        </div>
</div>