<div >

    <div class="row ">
      <div class="form-group col-md-12">
        <app-resume></app-resume>
      </div>
    </div>
      <!-- <div class="row ">
        <div class="bgImgDiv col-md-12">
          <img src="assets/images/sars-cov-19.jpg">
          <h1>Graficos</h1>
  
        </div>
      </div>
      <div class="row ">
        <div class="bgImgDiv col-md-6">
          <img src="assets/images/sars-cov-19.jpg">
          <h1>Sintomas</h1>
        </div>
        <div class="bgImgDiv col-md-6">
          <img src="assets/images/sars-cov-19.jpg">
          <h1>Prevencao</h1>
        </div>
  
      </div> -->
    </div>
  