<div class="form-group">
    <div class="row">
        <p>Due to the current situation around the world, I've redirected my website to this COVID-19 page developed by
            me.<br />

            The idea is to bring awareness and inform people about the current situation world wide. This page is still
            at
            work.<br />
            <br />If you would like to contact me click "Home" below or in the navigation bar <br /><br />

            Stay Safe!<br />

        </p>
    </div>
    <div class="row col-md-12">
        <div class="btn-group offset-md-12 col-md-12">
            <a href="/home" class="btn btn-secondary" style="color: white">Home</a>

            <button (click)="onNoClick()" class="btn btn-primary" style="display: inline-block;"
                cdkFocusInitial>Close</button>
        </div>
    </div>
</div>