<div class="form-group">

  <div class="row">
    <div class="col-md-1">
      <button [disabled]="getChartSelector() == 'confirmed'" type="button" class="btn btn-success"
        (click)="changeChart('confirmed')">Confirmed </button>
    </div>
    <div class="col-md-1">
      <button [disabled]="getChartSelector() == 'deaths'" type="button" class="btn btn-primary"
        (click)="changeChart('deaths')">Deaths</button>
    </div>

    <div class="col-md-10" style="justify-content: center;">
      <h1>{{getChartSelector() | titlecase }}</h1>
    </div>
  </div>
  <div class="row">
    <div *ngIf="getIsLoaded()" class="col-md-12">
    <app-multiselect-autocomplete  ></app-multiselect-autocomplete>
  </div>
  </div>
</div>

 

<div *ngIf="getIsLoaded()" class="col-md-12">
<app-horizontal-bar-chart *ngIf="getSelectedCountriesCount() == 0; else lineBlock"  ></app-horizontal-bar-chart>
<ng-template #lineBlock>
<app-line-chart ></app-line-chart>
</ng-template>
</div>