<div class="form-group">

  <div class="row">
    <div class="col-md-1">
      <button [disabled]="chartSelector == 'confirmed'" type="button" class="btn btn-success"
        (click)="changeChart('confirmed')">Confirmed</button>
    </div>
    <div class="col-md-1">
      <button [disabled]="chartSelector == 'deaths'" type="button" class="btn btn-primary"
        (click)="changeChart('deaths')">Deaths</button>
    </div>

    <div class="col-md-10" style="justify-content: center;">
      <h1>{{chartSelector | titlecase }}</h1>
    </div>
  </div>
  <div class="row">
    <div *ngIf="isLoaded" class="col-md-12">
    <app-multiselect-autocomplete  ></app-multiselect-autocomplete>
  </div>
  </div>
</div>



<div *ngIf="getIsLoaded()" class="col-md-12">
<app-horizontal-bar-chart ></app-horizontal-bar-chart>
</div>