<div id="wrapper" [ngStyle]="{'background-color': backgroundColor}">

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>


    <div id="divContent">
        <router-outlet></router-outlet>
    </div>


    <div class="clearFloat"></div>
    <div id="footer">

        <footer class="page-footer font-small">

            <div class="col-12 col-sm-12 col-12 py-3" style="overflow: auto;">
                <div class="flex-center mb-2">

                    <!--Linkedin -->
                    <a href="https://www.linkedin.com/in/bruno-fernandes-1183978b/" class="li-ic">
                        <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--GitHub -->
                    <a href="https://github.com/BrunoLusvarghi" class="li-ic">
                        <i class="fab fa-github fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!-- Facebook -->
                    <a href="https://www.facebook.com/bruno.lusvarghifernandes" class="fb-ic">
                        <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>

                </div>
            </div>

            <div class="footer-copyright text-center py-3">
                <!-- -->
            </div>

        </footer>
    </div>
</div>