/* .bg{
background-repeat: no-repeat !important;

} */

.bgImgDiv{
    position: relative;
    overflow: hidden;
    height: 400px;
    display:flex;
    align-items: center;
    justify-content: center;
 
}

.bgImgDiv img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    margin:10px;
}

.row.display-flex {
    display: flex !important;
    flex-wrap: wrap !important;
  }
  .row.display-flex > [class*='col-'] {
    display: flex !important;
    flex-direction: column !important;

  }


  .bgImgDiv h1 {
    
    text-align: center;
    position: relative;
    z-index: 2;
    
}

:host ::ng-deep   .elementBorder{
  border-bottom-style: solid !important;
  border-bottom-color: rgb(0, 158, 174) !important; 
}