<div style="padding-top:15px;width: 800px;">
    <h1 class="resumeHeader">My Career</h1>
    <div class="row justify-content-md-center">
        <ngb-accordion class="col-md-12" [closeOthers]="true" activeIds="1" style="padding-top: 50px;">

            <ngb-panel *ngFor="let job of careerHistory;let idx = index" [id]="idx" [title]="job.company">
                <ng-template ngbPanelHeader let-opened="opened">
                    <div class="row d-flex align-items-center justify-content-between">
                        <div class="col-md-4">
                            <button style="font-weight: 500;" ngbPanelToggle class="btn container-fluid text-left pl-0">{{job.company}}</button>
                        </div>
                        <div class="col-md-4">
                            <label class="btn container-fluid text-right  pl-0">{{job.period}}</label>
                        </div>
                    </div>
                </ng-template>
                <ng-template ngbPanelContent>
                    {{job.description}}
                </ng-template>
            </ngb-panel>


        </ngb-accordion>
    </div>
</div>