<div class="container">
    <div class="row">
        <div class="col-md-4">
    <img    style="max-width: 100%;max-height: 100%;" src="/assets/images/bruno_profile.jpg" />
</div>
<div  class="col-md-8" style="background-color:rgb(235, 235, 235)">
    <h1 style="font-weight:600;">Bruno Lusvarghi Fernandes</h1>
    
    
     <p style="font-size: medium;">Hi. My name is Bruno. I'm a Software Developer and this website was developed by me.</p>
     <p style="font-size: medium;">The idea of the website is letting people know more about me while using what I love: Coding.</p>
     <p style="font-size: medium;">The website was all developed by me using Angular. Components, Services, Directives, etc were all used. The source 
        code can be found on GitHub in the following repository.</p>
        <p style="font-size: medium;">I'm still working on the website. There'll be a PortFolio section soon.</p>
        <p style="font-size: medium;">Fell free to contact me</p>
    
    <div style="padding-top: 15px;" class="row">
         
    </div>
</div>


</div>



    
   
</div>