<div id="aboutMeDiv">
    <h1 class="resumeHeader">
        Bruno Lusvarghi Fernandes</h1>

    <div class="aboutMeSection">
        <div class=" aboutMeDiv">

            <div class="divResumeIcon">

                <div>
                    <img class=" profileImg " src="/assets/images/bruno_profile.png " />
                </div>
                <div id="aboutMeSection" class="row">
                    <strong style=" font-size: 15px; ">
            Software Engineer <br><br>

            <span> <fa-icon size="1x " [icon]="faMapMarkerAlt "></fa-icon>     </span> Toronto, ON, Canada <br><br>

            <span> <fa-icon size="1x " [icon]="faBirthdayCake "></fa-icon> </span> 26 years old <br><br> 
            <h2>"Hello! Thanks for the visit "</h2>
                I am a Software Developer living in Toronto and looking for a new job opportunity.
                Scroll down or use the quick navigation on the top to see my portfolio, career history and education.
                Feel free to reach out to me on the <a href="/contact">Contact Page</a>
                
        </strong>

                </div>
            </div>

        </div>
    </div>

</div>