fa-icon {
    margin-right: 15px;
}

.profileImg {
    border-radius: 100%;
    border-style: solid;
    border-width: 7 px;
    border-color: black;
    width: 260px;
    height: 260px;
}

.aboutMeDiv {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 60px;
    position: relative;
}

#over img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: left;
    margin-right: 100px;
}

#over {
    width: 50%;
}

.divResumeIcon {
    margin-top: 20px;
}