<div class="container">
    <div class="row aboutMeDiv">
        <div class="col-md-4" style="margin-right: 10px;">
            <img class="profileImg" src="/assets/images/bruno_profile.png" />
        </div>
        <div class="col-md-6 divResumeIcon">
            <h1 style="font-weight:600;">Bruno Lusvarghi Fernandes</h1>
            <p>
                Software Engineer <br><br>

                <span> <fa-icon size="1x" [icon]="faMapMarkerAlt"></fa-icon>     </span> Toronto, ON, Canada <br><br>

                <span> <fa-icon size="1x" [icon]="faBirthdayCake"></fa-icon> </span> 26 years old <br><br> "Hi. You can go through the panels above to see my career history, skills and education. You can also check COVID status around the world clicking
                in the 'COVID-19 Info' on the navigation bar.<br><br> This website is being developed by me to show my coding skills, I'm currently in Toronto looking for an opportunity to get back to the programming business now that I've finished my
                studies at Seneca College"

            </p>


        </div>

    </div>

</div>