/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~fullpage.js/dist/fullpage.min.css';
@font-face {
    font-family: vollkorn;
    src: url(assets/fonts/Vollkorn-VariableFont_wght.ttf) format("opentype");
}

@font-face {
    font-family: proza;
    src: url(assets/fonts/Proza-Regular.otf) format("opentype");
}


/* body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
} */

:host body {
    height: 100%;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 300;
    width: 100%;
    position: fixed;
}