.selected {
    color: red;
}

.divResumeIcons {
    text-align: center;
    background-color: rgb(230, 230, 230);
    padding: 20px 10px;
    border-style: solid;
    border-width: 1px;
}

.selected {
    background-color: rgb(200, 200, 200);
}

@media screen and (max-width: 480px) {
    .fullPageNavbar {
        display: none !important;
    }
}

.fullPageNavbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    left: 50px;
    padding-top: 10px;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
}

.firstResumeIcon {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.lastResumeIcon {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.fixedNavBar {
    display: flex;
    flex-direction: column;
}

:host ::ng-deep .resumeHeader {
    font-weight: 600;
    color: #f57200;
    text-align: center;
}

@media screen and (max-width:1000px) {
     :host ::ng-deep .resumeHeader {
        font-size: 50px;
    }
}

@media screen and (max-width:480px) {
     :host ::ng-deep .resumeHeader {
        font-size: 25px;
    }
}

@media screen and (min-width:600px) {
    .contentAlign {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

@media screen and (max-width:600px) {
    .contentAlign {
        width: 100%x;
    }
}

.resumeSection {
    position: relative;
}