<div class="fullPageNavbar">


    <div style="background-color: #f6f5ae" class="divResumeIcons firstResumeIcon">
        <a style="color:inherit" href="javascript:;  " (click)="scroll(aboutMe)">
            <fa-icon size="2x" [icon]="faMugHot"></fa-icon>
            About Me
        </a>
    </div>

    <div class="divResumeIcons" style="background-color: #9ad5b3">
        <a style="color:inherit" href="javascript:;" (click)="scroll(portfolio)">
            <fa-icon size="2x" [icon]="faLaptopCode"></fa-icon>
            Portfolio
        </a>
    </div>


    <div style="background-color:#ffd9ce" class="divResumeIcons">
        <a style="color:inherit" href="javascript:;" (click)="scroll(career)">
            <fa-icon size="2x" [icon]="faBusinessTime"></fa-icon>
            Career
        </a>
    </div>


    <div style="background-color:#90CCF4" class="divResumeIcons  lastResumeIcon">
        <a style="color:inherit" href="javascript:;" (click)="scroll(education)">
            <fa-icon size="2x" [icon]="faUniversity"></fa-icon>
            Education
        </a>
    </div>


</div>


<div class="resumeSection" #aboutMe style="min-height:100vh;background-color: #f6f5ae;">
    <div class="contentAlign">
        <app-about-me class="resumeComponents"></app-about-me>
    </div>
</div>
<div class="resumeSection" #portfolio style="min-height:100vh;background-color: #9ad5b3;">
    <div class="contentAlign">
        <app-portfolio class="resumeComponents"></app-portfolio>
    </div>

</div>
<div class="resumeSection" #career style="min-height:100vh;background-color: #ffd9ce;">
    <div class="contentAlign">
        <app-career-history class="resumeComponents"></app-career-history>
    </div>
</div>
<div class="resumeSection" #education style="min-height:100vh;background-color: #90CCF4;">

    <div class="contentAlign">
        <app-education-history class="resumeComponents"></app-education-history>
    </div>

</div>